#background_intro_video{
  height: 100vh; 
  background-image: url(../../../../public/img/intro_web.mp4); 
  background-size: cover;
  
}

#titre_principal{
  margin-bottom: 10vh;
}

#titre_intro{
  font-size: -webkit-xxx-large;
}

#part_phygital{
  height: 300px;
}

#part_partenaires{
  height: 100px;
}

#part_offres{
  height: 200px;
}

#part_offre_perso{
  height: 200px;
}

#image_partenaire{
  height: 150px; 
  width: 190px;
  background-size: cover;
}

#img_part_phygital{
  display: flex!important;
  position: absolute;
  height: 250px; 
  width: 21vw; 
  margin-top: -210px;
}

#img1_part_phygital{
  display: flex!important;
}

#filter{
  position: absolute;
  width: 120vw;
  height: 120vh;
  margin-top: -20vh;
  margin-left: -20vw;
  opacity: 60%;
  background-color: var(--background-color);
}

.text-fly{
  color: var(--color-accent)!important;
}

#img_arts{
  margin: 2vw;
  height: 90px; 
  width: 90px; 
  border-radius: 50%;
  background-size: cover;
  background-color: whitesmoke;
}

.btn-outline-danger {
  --bs-btn-color: #DC202B!important;
  --bs-btn-border-color: #DC202B!important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #DC202B!important;
  --bs-btn-hover-border-color: #DC202B!important;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #DC202B!important;
  --bs-btn-active-border-color: #DC202B!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #DC202B!important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #DC202B!important;
  --bs-gradient: none;
}

#etapes{
  height: 30vh;
  width: 40vw;
}

/* Télephone  */
@media (max-width: 575.98px) { 
  #titre_intro{
    font-size: xx-large;
  }

  #part_phygital{
    height: 0px;
  }

  #part_partenaires{
    height: 10px;
  }

  #part_offres{
    height: 0px;
  }

  #part_offre_perso{
    height: 0px;
  }

  #image_partenaire{
    width: 40vw;
  }

  #img_part_phygital{
    display: none!important;
  }

  #img1_part_phygital{
    display: none!important;
  }

  #background_intro_video{
    background-image: url(../../../../public/img/Screen_Recording_20221201_092410_Chrome.mp4); 
  }

  #etapes{
    width: 80vw;
  }
}

/* Télephone Grand */
@media (max-width: 767.98px) { 
  #titre_intro{
    font-size: xx-large;
  }

  #part_phygital{
    height: 0px;
  }

  #part_partenaires{
    height: 10px;
  }

  #part_offres{
    height: 0px;
  }

  #part_offre_perso{
    height: 0px;
  }

  #image_partenaire{
    width: 40vw;
  }

  #img_part_phygital{
    display: none!important;
  }

  #img1_part_phygital{
    display: none!important;
  }

  #etapes{
    width: 80vw;
  }
}

/* Tablette  */
@media (max-width: 991.98px) { 

}

/* Ordinateur  */
@media (max-width: 1199.98px) { 

}

/* Grand écran  */
@media (max-width: 1399.98px) { 

}

